# QKN1 - QKN1 Task 2: Coding
# Analytics Programming - D598
# PRFA â€” QKN1
# A:PYTHON PROGRAM

In [6]:
# Loading library
import numpy as np
import pandas as pd

# Data Loading and Displaying Data

In [22]:

df = pd.read_excel("/Users/behailu/Desktop/WGU-Workspace/Task2/D598 Data Set.xlsx")

df2 = df.groupby("Business State").mean(numeric_only=True)
df2.head()

,Business ID,Total Long-term Debt,Total Equity,Debt to Equity,Total Liabilities,Total Revenue,Profit Margin
Business State,,,,,,,
Alabama,1.599117e+09,6.743890e+08,1.441039e+09,0.345473,1.893946e+09,6.968309e+08,0.403732
Arizona,9.445082e+09,6.508800e+07,5.915300e+07,1.100333,1.109380e+08,2.155800e+08,0.206902
Arkansas,8.411162e+09,8.960450e+07,1.082420e+08,0.844746,2.138820e+08,4.789090e+08,0.098319
California,1.063053e+10,3.273964e+07,4.535982e+07,0.169920,8.018100e+07,8.869559e+07,0.287947
Colorado,9.966963e+09,8.470025e+07,2.007589e+08,0.619971,1.454528e+08,2.486542e+08,0.346033

# Calculating Debt to Equity using Total Long-term Debt and Total Equity

In [27]:
df["Debt_to_Equity_Calc"] = df["Total Long-term Debt"]/df["Total Equity"]
df["Debt_to_Equity_Calc"].head()

0    0.935886
1    0.341758
2    0.107951
3    0.421820
4    0.084665
Name: Debt_to_Equity_Calc, dtype: float64

# Creating analyzed data summary

In [30]:
# Create summary table
#Copy and Creating new table with Debt to Equity calculated
summary_table = df[["Business ID", "Business State", "Debt_to_Equity_Calc", "Profit Margin"]].copy() 

summary_table["Debt_to_Equity_Calc"] = summary_table["Debt_to_Equity_Calc"].round(2)
#Checking if Profit margin greater than Zero not
summary_table["Profitability"] = summary_table["Profit Margin"].apply(
    lambda x: "Profitable" if x > 0 else "Not Profitable"
)
summary_table

,Business ID,Business State,Debt_to_Equity_Calc,Profit Margin,Profitability
0,41872013,Kentucky,0.94,0.023663,Profitable
1,76232013,Iowa,0.34,0.265015,Profitable
2,160992013,Texas,0.11,0.130413,Profitable
3,197452013,Delaware,0.42,0.196768,Profitable
4,241042013,Illinois,0.08,0.168305,Profitable
...,...,...,...,...,...
145,14733342013,California,0.17,0.213007,Profitable
146,14871012013,Maryland,0.20,0.353230,Profitable
147,14889172013,MInnesota,0.10,0.727563,Profitable
148,15456542013,Hawaii,0.52,0.348850,Profitable
149,15528002013,MInnesota,1.18,0.762859,Profitable

# Saving Result

In [33]:
## Save results 
df.to_csv("business_analysis_results.csv", index=False)
print("\nResults saved to business_analysis_results.csv")

Results saved to business_analysis_results.csv

# Work Cited

#https://www.linkedin.com/learning/data-ingestion-with-python/working-in-csv?resume=false&u=2045532

#https://research.ebsco.com/c/25xrgu/ebook-viewer/pdf/4tlx4d5mhn/page/pp_53

#https://www.linkedin.com/learning/python-for-data-science-essential-training-part-1/filtering-and-selecting?resume=false&u=2045532