# QKN1 - QKN1 Task 2: Coding
# Analytics Programming - D598
# PRFA â€” QKN1
# A:PYTHON PROGRAM

In [6]:
# Loading library
import numpy as np
import pandas as pd

# Data Loading and Displaying Data

In [22]:

df = pd.read_excel("/Users/behailu/Desktop/WGU-Workspace/Task2/D598 Data Set.xlsx")

df2 = df.groupby("Business State").mean(numeric_only=True)
df2.head()

,Business ID,Total Long-term Debt,Total Equity,Debt to Equity,Total Liabilities,Total Revenue,Profit Margin
Business State,,,,,,,
Alabama,1.599117e+09,6.743890e+08,1.441039e+09,0.345473,1.893946e+09,6.968309e+08,0.403732
Arizona,9.445082e+09,6.508800e+07,5.915300e+07,1.100333,1.109380e+08,2.155800e+08,0.206902
Arkansas,8.411162e+09,8.960450e+07,1.082420e+08,0.844746,2.138820e+08,4.789090e+08,0.098319
California,1.063053e+10,3.273964e+07,4.535982e+07,0.169920,8.018100e+07,8.869559e+07,0.287947
Colorado,9.966963e+09,8.470025e+07,2.007589e+08,0.619971,1.454528e+08,2.486542e+08,0.346033

# Calculating Debt to Equity using Total Long-term Debt and Total Equity

In [27]:
df["Debt_to_Equity_Calc"] = df["Total Long-term Debt"]/df["Total Equity"]
df["Debt_to_Equity_Calc"].head()

0    0.935886
1    0.341758
2    0.107951
3    0.421820
4    0.084665
Name: Debt_to_Equity_Calc, dtype: float64

# Creating analyzed data summary